* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  /* Style the side navigation */
  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1C1E;
    overflow-x: hidden;
  }
  
  /* Sidebar title */
  .sidebar p {
      color: white;
      font-weight: bold;
      padding: 16px;
  }
  
  /* Side navigation links */
  .sidebar a {
    color: #007AFF;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidebar a:hover {
    background-color: #ffffff;
    color: #007AFF;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }