* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  /* Style the side navigation */
  ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Side navigation links */
  ul.sidebar li a {
    color: #007AFF;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  ul.sidebar li a:hover {
    background-color: #1C1C1E;
    color: #007AFF;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

@media screen and (max-width: 900px) {
  ul.sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
    
  ul.sidebar li a {
    float: left;
    padding: 15px;
  }
    
  div.content {margin-left: 0;}
} 

@media screen and (max-width: 400px) {
  ul.sidebar li a {
    text-align: center;
    float: none;
  }
}

@media (prefers-color-scheme: dark) {
  .content {
    margin-left: 200px;
    padding-left: 20px;
    background-color: #1c1c1e;
    color: #F2F2F7;
  }
  ul.sidebar li a:hover {
    background-color: #1C1C1E;
    color: #0A84FF;
  }
  ul.sidebar li a {
    color: #0A84FF;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #1C1C1E;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
}